<!DOCTYPE html>
<html>
  <head>
    <title>Guillaume 's Bookmark manager</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">  
    <link rel="stylesheet" type="text/css" href="/css/application.css">  
  </head>

  <body>
    <%= partial :header %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Sorry, there were the following problems with your registration:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>