<li class='link'>
  <a class='title' href="<%= link.url %>"><%= link.title %></a>
  <div class='description'>
    Bla bla bla...random text
  </div>
  <span class='source'>
    added today by 
    <a href="#">guillaume@bouffard.com</a>
  </span>
</li>